# User info needed for SEC downloader
EMAIL=youremail@example.com
COMPANY=yourprojectnameorany
AIRFLOW_UID=1000

LLM_URL="URL"
LLM_API_KEY=ai_key
LLM_MODEL=openai/gpt-4o-mini
LLM_JUDGE_MODEL=openai/gpt-4o-mini
